.btn-black {
  background-color: black;
  color: white;
}
.label-black {
  background-color: black;
  color: white;
} //button

// .btn-warning {
//   background-image: url(orange.png);
//   background-repeat: no-repeat
// }
// .btn-success {
//   background-image: url(green.jpg);
// }
//
// .btn {
//   color: purple
// }

.btn-black:hover { background-color: gray; }
